root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = false

[*.ts]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.{json,yml}]
indent_size = 2

[.*]
indent_size = 2